@model IEnumerable<Garage3._0.Entites.Vehicle>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModelType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehicleType.VehicleTypeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehicleType.NumWheels)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehicleType.Type)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            foreach (var ownership in item.Ownerships)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => ownership.Member.Id)
                    </td>
                    @* <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td> *@
                    <td>
                        @Html.DisplayFor(modelItem => item.Color)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModelType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Brand)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VehicleType.VehicleTypeId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VehicleType.NumWheels)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VehicleType.Type)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        }

    </tbody>
</table>
