@model IEnumerable<Garage3._0.Entites.Vehicle>

@{
    ViewData["Title"] = "Vehicles";
}

<h1>Vehicles</h1>

<p>
    <a asp-action="Create">Add a vehicle</a>
</p>

@* make this a partial view later? *@
<form asp-action="SearchRegNumber" asp-controller="Vehicles" method="get">
    <div class="input-group">
        <input type="text" id="regNumberSearch" name="regNumber" class="form-control" placeholder="Search for registration number" />
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </div>
    @if (TempData["NoVehicleFound"] != null)
    {
        <div class="alert alert-danger" role="alert">
            @TempData["NoVehicleFound"]
        </div>
    }

    @if (TempData["VehicleFound"] != null)
    {
        <div class="alert alert-success" role="alert">
            @TempData["VehicleFound"]
        </div>
    }
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ownerships.FirstOrDefault().Member)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModelType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehicleType.VehicleTypeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehicleType.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehicleType.NumWheels)
            </th>
            <th></th>
        </tr>
    </thead>
    @*check here if there will be error when merging later*@
    <tbody>
        
        @foreach (var item in Model)
        {
            @foreach (var ownership in item.Ownerships)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => ownership.Member.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => ownership.Vehicle.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Color)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModelType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Brand)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VehicleType.VehicleTypeId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VehicleType.NumWheels)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VehicleType.Type)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
                
        }
       @*  }
            <tr>
                <td>
                    @if (item.Ownerships != null && item.Ownerships.Any())
                    {
                        @Html.DisplayFor(modelItem => item.Ownerships.First().Member.Id)
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Color)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModelType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleType.VehicleTypeId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleType.NumWheels)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleType.Type)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        } *@
        }
    </tbody>
           @* foreach (var ownership in item.Ownerships)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => ownership.Member.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => ownership.Vehicle.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Color)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModelType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Brand)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VehicleType.VehicleTypeId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VehicleType.NumWheels)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VehicleType.Type)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>  
            }
        }*@

</table>
