
@*@model Garage3._0.Entites.Member*@
@model Garage3._0.ModelView.MemberDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Member</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Membership)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Membership)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfVehicles)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberOfVehicles)
        </dt>
        @* OWNER VEHICLES *@
        <dt class="col-sm-2">
            Vehicles
        </dt>
        <dd class="col-sm-10">
            @if (Model.NumberOfVehicles == 0)
            {
            <a>None</a>
            }
            else
            {
                @foreach (var ownership in Model.Ownerships)
                {
                    <a asp-controller="Vehicles" asp-action="Details" asp-route-id="@ownership.VehicleId">@ownership.VehicleId</a>
                    <br />
                }
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
