@model List<Garage3._0.ModelView.GarageViewModel>

<h1>Garage overview</h1>
<br>

<table class="table">
    <thead>
        <tr>
            <th>Owner</th>
            <th>Social Security Nr.</th>
            <th>Membership</th>
            <th>Parking Lot</th>
            <th>Reg Nr</th>
            <th>Color</th>
            <th>Model</th>
            <th>Brand</th>
            <th>Wheels</th>
            <th>Type</th>
            <th>Arrival Time</th>
            <th>Time Parked </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OwnerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PersonalNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Membership)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ParkingLot)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegistrationNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Color)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModelType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumWheels)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArrivalTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DisplayTime)
                </td>
                
            </tr>
        }
    </tbody>

</table>



