@model List<Garage3._0.ModelView.GarageViewModel>

<h1>Garage overview</h1>
<br>

<form asp-action="SearchParkedVehiclesByRegNumber" asp-controller="Parkings" method="get">
    <div class="input-group">
        <input type="text" id="regNumber" name="regNumber" class="form-control" placeholder="Search for registration number" />
        <select id="vehicleType" name="vehicleType" class="form-control">
            <option value="">-- All --</option>
            @foreach (var type in ViewBag.VehicleTypes)
            {
                <option value="@type">@type</option>
            }
        </select>
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </div>
</form>

@if (TempData["NoVehicleFound"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["NoVehicleFound"]
    </div>
}

@if (TempData["VehicleFound"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["VehicleFound"]
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>Owner</th>
            <th>Personal Number</th>
            <th>Membership</th>
            <th>Parking Lot</th>
            <th>Reg Nr</th>
            <th>Color</th>
            <th>Model</th>
            <th>Brand</th>
            <th>Wheels</th>
            <th>Type</th>
            <th>Arrival Time</th>
            <th>Time Parked </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OwnerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PersonalNumber)
                </td>
                <td>
                    @if (item.Membership)
                    {
                        <span style="color:green;">&#10004;</span>
                    }
                    else
                    {
                        <span style="color:red;">&#10008;</span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ParkingLot)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegistrationNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Color)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModelType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumWheels)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArrivalTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DisplayTime)
                </td>
                
            </tr>
        }
    </tbody>

</table>



